<!-- src/app/product/product.component.html -->
<div class="container mt-4">
  <!-- Search Bar -->
  <div class="row mb-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="Search for products..." [(ngModel)]="searchQuery"
        (input)="onSearch()" />
    </div>
  </div>

  <!-- Product Cards -->
  <div class="row">
    <div class="col-md-4" *ngFor="let product of filteredProducts">
      <div class="card mb-4">
        <div class="card-header">
          <!-- <h5 class="card-title">{{ product.title }}</h5> -->
          <h3 class="card-title text-center">{{ product.title }}</h3>
          <img [src]="imageDirectoryPath+product?.image" alt="not found" class="img-fluid w-100 mb-2" style="height: 200px;">
          <h6 class="card-subtitle text-muted">Price: ${{ product.price }}</h6>
        </div>
        <div class="card-body">
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Stock: {{ product.stock }}</p>
          <p class="card-text">Rating: {{ product.rating }}</p>
          <p class="card-text">Status: {{ product.status === '1' ? 'Available' : 'Unavailable' }}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a class="btn btn-primary" [routerLink]="['/products/', product.id]">Show Prod</a>
          <button class="btn btn-success" (click)="addToCart(product)">Add To Cart </button>
        </div>
      </div>
    </div>
  </div>
</div>
