<!-- src/app/product/product.component.html -->
<app-header/>
<div class="container mt-4">
  <!-- Search Bar -->
  <div class="row mb-5 w-50 mx-auto">
    <div class="col">
      <input type="text" class="form-control" placeholder="Search for products..." [(ngModel)]="searchQuery"
        (input)="onSearch()" />
    </div>
  </div>

  <!-- Product Cards -->
  <div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col" *ngFor="let product of filteredProducts">
        <div class="custom-card">
          <div class="custom-card-image">
            <img [src]="imageDirectoryPath + product?.image" alt="Product Image" class="img-fluid">
          </div>
          <div class="custom-card-content d-flex flex-column justify-content-between">
            <h5 class="custom-card-title">{{ product.title }}</h5>
            <h6 class="custom-card-subtitle">Price: ${{ product?.price }}</h6>
            <p class="custom-card-description">{{ product?.description }}</p>
            <p class="custom-card-info"><span class="label">Stock:</span> {{ product?.stock }}</p>
            <p class="custom-card-info"><span class="label">Status:</span> {{ product?.status === '1' ? 'Available' : 'Unavailable' }}</p>
            <div class="custom-card-actions">
              <a class="custom-btn" [routerLink]="['/products/', product.id]">Show Details</a>
              <button class="custom-btn" (click)="addToCart(product)">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
