<app-header/>
<div class="container mt-5">
  <!-- Success Message -->
  <div id="success-alert" *ngIf="successMessage" class="alert alert-success alert-dismissible fade show w-50 mx-auto"
    role="alert">
    {{ successMessage }}
    <!-- <button type="button" class="btn-close" (click)="clearSuccessMessage()"></button> -->
  </div>
  <div class="card mt-5 mx-auto custom-card" style="max-width: 600px;">
    <div class="custom-card-image">
      <img [src]="imageDirectoryPath+product?.image" alt="Product Image" class="img-fluid rounded mb-4 custom-img">
    </div>
    <div class="card-body custom-card-content">
      <h2 class="card-title text-center mb-4">{{ product?.title }}</h2>
      <div class="d-flex justify-content-center mb-4">
        <h5 class="card-subtitle text-muted me-3"><span class="fw-bold">Price:</span> ${{ product?.price }}</h5>
        <h5 class="card-subtitle text-muted"><span class="fw-bold">Stock:</span> {{ product?.stock }}</h5>
      </div>
      <p class="card-text"><span class="fw-bold">Description:</span> {{ product?.description }}</p>
      <p class="card-text"><span class="fw-bold">Status:</span> {{ product?.status === '1' ? 'Available' : 'Unavailable' }}</p>
    </div>
    <div class="card-footer d-flex justify-content-center custom-card-actions">
      <button class="btn btn-primary me-3 custom-btn" [routerLink]="['/products']">Back</button>
      <button class="btn btn-success" (click)="addToCart(product)">Add To Cart</button>
    </div>
  </div>
</div>
