<app-header/>

<div class="container mt-5">
  <!-- User Details Section -->
  <div class="card mb-4 custom-card">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">User Details</h2>
      <hr>
      <div class="d-flex flex-column align-items-center">
        <!-- Uncomment and adjust the image source if needed -->
        <!-- <img [src]="baseUrl + user.photo" alt="{{ user?.name }}" class="img-thumbnail mb-3" width="150"> -->
        <div class="user-details">
          <p class="user-detail"><strong>Name:</strong> {{ user?.name }}</p>
          <p class="user-detail"><strong>Email:</strong> {{ user?.email }}</p>
          <p class="user-detail"><strong>Gender:</strong> {{ user?.gender }}</p>
        </div>
        <button (click)="navigation()" class="btn btn-primary btn-sm mt-3">Edit User</button>
      </div>
    </div>
  </div>

  <!-- Orders List Section -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5">
    <div *ngFor="let order of orders" class="col">
      <div class="card h-100 custom-card">
        <div class="card-header text-white d-flex justify-content-between align-items-center" [ngStyle]="{ 'backgroundColor': getStatusColor(order.status) }">
          <span class="fw-bold">Order ID: {{ order.id }}</span>
          <span>{{ order.status }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Order Details</h5>
          <hr>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="card-text"><strong>Order Price:</strong> ${{ order.total_price }}</p>
              <p class="card-text mb-0"><strong>Order Status:</strong> <span [ngStyle]="{ 'color': getStatusColor(order.status) }"> {{ order.status }}</span></p>
            </div>
            <button *ngIf="order.status === 'pending'" class="btn fs-4" (click)="deleteOrder(order.id)">🗑</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
