
<div class="container">
  <div  class="card">
    <div class="card-body">
      <h5 class="card-title">User Details</h5>
      <!-- <img [src]="baseUrl + user.photo" alt="{{ user?.name }}" class="img-thumbnail mb-3" width="150"> -->
      <p class="card-text"><strong>Name:</strong> {{ user?.name }}</p>
      <p class="card-text"><strong>Email:</strong> {{ user?.email }}</p>
      <p class="card-text"><strong>Gender:</strong> {{ user?.gender }}</p>
    </div>
  </div>


  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" formControlName="name" class="form-control">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>
    <!-- <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <select id="gender" formControlName="gender" class="form-control">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div> -->
    <button type="submit" class="btn btn-primary">Update</button>
  </form>


  <div>
    <h1>User's orders</h1>
    <div *ngFor="let order of orders" class="card mb-3">
      <div class="card-body">
        <p>order id :: {{order.id}}</p>
        <p class="card-text">Order Price: {{ order.total_price }}</p>
        <p class="card-text">Order Status: {{order.status}}</p>
        <button *ngIf="order.status === 'pending'" class="btn btn-danger" (click)="deleteOrder(order.id)">Delete Order</button>
      </div>
    </div>
  </div>
</div>
