<footer class="mt-4">
    <div class="top">
        <div class="container text-secondary p-5">
            <div class="row">
                <div class="col-4">
                    <h5>Keep in touch</h5>
                    <p>Claritas est etiam processus dynamicus, 
                        qui sequitur mutationem consuetudium lectorum.
                         Mirum est notare quam littera gothica, quam nunc putamus.</p>
                    <p><i class="icon fa-solid fa-location-dot pe-3"></i> 221b Baker Street - London - UK</p>
                    <p><i class="icon fa-solid fa-phone pe-3"></i> (00) 123 456 789 / (00) 123 456 789</p>
                    <p><i class="icon fa-solid fa-envelope pe-3"></i> contacyourcompany.com</p>
                </div>
                <div class="col-3">
                    <h5 class="mx-4">Information</h5>
                    <ul>
                        <li>Specials</li>
                        <li>New Products</li>
                        <li>best sellers</li>
                        <li>Our stores</li>
                        <li>About Us</li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5 class="mx-4">My Account</h5>
                    <ul>
                        <li>My Orders</li>
                        <li>My credit slips</li>
                        <li>My Address</li>
                        <li>My Personal Info</li>
                    </ul>
                </div>
                <div class="col-2">
                    <h5 class="mx-4">Support </h5>
                    <ul>
                        <li>Brands</li>
                        <li>Special</li>
                        <li>New products </li>
                        <li>Our Stores</li>
                        <li>Contact us</li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
    <div class="bg-light">
        <div class="text-center text-dark pt-3">
            <a href="#"><img src='assets/logo.png' width="200" height="80"/></a>
            <div class="social">
                <i class="fa-brands fa-facebook px-3"></i>
                <i class="fa-brands fa-twitter px-3"></i>
                <i class="fa-brands fa-instagram  px-3"></i>
            </div>
        </div>
        <p class="text-center p-3">&copy; Copyright:Swiftbuy. 2024 All rights reserved.</p>
    </div>
</footer>
